*{
    padding: 0;
    margin: 0;
}
body

{
  font-family:'young serif',serif;

}

    .container{
        padding: 50px;
    }

.section_one{
    
    background-color: black;
    color: aliceblue;
    padding: 20px;
}

.section_one__contact{
    background-color: orangered;
    color: aliceblue;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    margin-top: 10px;

}
.section_one__name{
    font-size: 60px;

}
.section_one__role
{
    font-size: 30px;
    margin-top: 10px;
}
.section_two,.section_three,.section_four,.section_five,.section_six{
    margin-top: 20px;
}
.section_two__desc,.section_three__desc,.section_four__desc,.section_five__desc,.section_six__desc
{
    margin-top: 10px;
}
.section_five
{
    background-color: black;
    color: aliceblue;
}
.section_five__little a{
color: aqua;
}
.section_three li,.section_four li{
    list-style: none;
}
.section_three{
    background-color: blueviolet;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;

    

}
.section_four{    background-color: chocolate;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
}
.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    padding: 10px;
border: none;
border-bottom:solid black 1px ;
}
.contact-form__textarea{
    
    padding: 10px;
border: none;
border: solid black 1px;
}
.contact-form__submit{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: orangered;
    color: black;
    border: none;
}
.section_five{
    padding: 20px;
}
